@model Vehicle
@{
	ViewData["Title"] = Model.UnitType;
}
<div class="d-flex flex-row justify-content-between align-items-center border-bottom">
    <div class="d-flex flex-row align-items-center gap-2 py-2">
	    <img src="" alt="@Model.UnitType" height="50" width="50" class="border border-1 rounded-2">
	    <h2 class="text-primary">@Model.UnitModelSeries - @int.Parse(Model.VehicleId).ToString("0000")</h2>
    </div>
    <div class="h-100 d-flex gap-3 justify-content-end align-items-center">
        <a href="#" class="fa-solid fa-pen text-primary text-decoration-none option-icon text-center d-flex align-items-center"></a>
        <a href="#" class="fa-solid fa-plus text-decoration-none option-icon text-center  d-flex align-items-center"></a>
        <a href="#" class="fa-solid fa-rotate text-primary text-decoration-none option-icon text-center  d-flex align-items-center" onclick="window.location.reload()"></a>
        <div class="dropdown p-0 m-0 option-icon text-center  d-flex align-items-center" style="cursor: pointer">
            <a class="fa-solid fa-ellipsis-vertical text-primary text-decoration-none dropdown-toggle-split" data-bs-toggle="dropdown">
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Export</a></li>
                <li><a class="dropdown-item" href="#">Export as PDF</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="pt-2">
    <h5 class="w-100 border-bottom pb-1">General information</h5>
    <table class="w-100">
        <tr>
            <td>
                Unit Type
            </td>
            <td>
				@Model.UnitType
            </td>
        </tr>
        <tr>
            <td>
                Unit Model/ Series
            </td>
            <td>
                @Model.UnitModelSeries
            </td>
        </tr>
        <tr>
            <td>
                Brand
            </td>
            <td>
                @Model.BrandMake
            </td>
        </tr>
    </table>
</div>
<div class="row g-0 p-2 h-100">
    <div class="row g-2">
        <div class="col-12 col-md-6 border-end p-2">
            <h5>Pictures</h5>
            <div class="w-100 h-100">
                <img src="" alt="Vehicle Picture" class="img-fluid mb-2 border border-1 rounded-2" style="max-height:100px; max-width:100px; object-fit:cover">
            </div>
        </div>

        <div class="col-12 col-md-3 border-end p-2">
            <h5>Vehicle Log</h5>
            <div class="w-100 h-100 overflow-auto" style="max-height: 300px;">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-12 col-md-3 p-2">
            <h5>Maintenance Log</h5>
            <div class="w-100 h-100 overflow-auto" style="max-height: 300px;">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
